.admin-container{
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .admin-header {
    align-items: center;
    margin: 0;
    justify-content: center;
    flex-flow: column nowrap;
  }
  .admin-header * {
    height: 10%;
    margin: 1%;
    align-items: center;
    justify-content: center;
    }
  .admin-table-header{
    align-items: center;
  }
  .admin-table{
    flex-flow: column nowrap;
    width: 60%;
  }
  .admin-table-body {
    flex-flow: column nowrap;
  }
  .admin-table-row{
    flex-flow: row;
  }
  
  .profile-container{
    flex-flow: column nowrap;
  }

  .new-movie-container{
    flex-flow: column;
    width: 15%;
    padding: 1%;
   margin: 3rem;
  }
  .new-movie-sub-container{
    height: 90%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .new-movie-sub-container form {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .new-movie-sub-container form input {
    background: rgb(196, 196, 196);
    margin: 1%;
  }
  .new-movie-header{
    height: 15%;
    margin: .2rem;
  }
  .adminButton{
    height: 20%;
    width: 80%;
    margin: .2rem;
  }
  .new-movie-header * {
    justify-content: center;
    color: var(--green);
    text-shadow: 0 .1px 5px rgba(245, 245, 245, 0.152)
  }