.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

.footer {
  background-color: #282828;
  color: white;
}

.footer-columns {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-columns ul {
  list-style: none;
  padding-right: 5rem;
}

.footer-heads {
  margin-bottom: 1rem;
}

hr {
  border: 0;
  height: 1px;
  width: 95%;
  background: #484848;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Sidebar {
  position: fixed;
  width: 10%;
  height: 50vh;
  background: gray ;
}

#sidebar-column {
  display: flex;
  /* justify-content: left; */
  flex-direction: column;
}

#sidebar-container {
  padding:0px;
  margin: 0px;
  margin-top: 30px;
  height:100%;
}

a:link {
  text-decoration: none;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  position:relative;
  height:40px;
  /* line-height:40px; */
  margin-top:10px;
  overflow:hidden;
  width:100%;
  margin-left:5%;
  cursor:pointer;
}