/* MAIN CORE START */
.main-container h1 {
  color: var(--green);
  padding: 1rem;
}
/* MAIN CORE END ^^^^^^^^^^^^^ */
/* MOVIE LIST START */
.movie-img {
  max-width: 7rem;
  max-height: 9rem;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1%;
  transition: transform 450ms;
  margin: 2% .5% 0 0;
}
.movie-img::-webkit-scrollbar {
  display: none;
}
.movie-img:hover {
  transform: scale(1.2);
  opacity: 1;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
/* MOVIES LIST END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* FOOTER START SECTION */
.footer-columns {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
}

.footer-columns ul {
  text-decoration: none;
  padding-right: 5rem;
}

.footer-heads {
  margin-bottom: 1rem;
  font-size: 10px;
}
hr {
  border: 0;
  height: 1px;
  width: 95%;
  background: #484848;
}
.footer-row {
  align-items: center;
  padding-left: 0.5rem;
  font-size: 8px;
}
/* FOOTER END ^^^^^^^^^^^^^ */
/* MY LIBRARY */
.myLib {
  background: #2e3135;
align-items: center;
}

.myLib ul li {
  text-decoration: none;
  padding-right: 1rem;
}

.myLib-container {
  flex-flow: column nowrap;
  background: #2e3135;

}
.myLib-Nav{
  height: 10%;
  margin: 1% 0 0 0;
  top:0;
}
.myLib-Nav * {
  height: 10%;
}
.myLib{
  flex-flow: row nowrap;
}
/* .myLib-overflow {
  overflow: hidden;
  position: relative;
  z-index: 0;
} */

.movie-cards {
  white-space: normal;
  overflow: hidden;
  position: relative;
  zoom: 1;
  list-style-type: none;
}

/* .card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1;
} */

.card-img {
  margin: 0 23px 0 20px;
  max-width: 175px;
  max-height: 260px;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  position: relative;
  float: left;
}

/* SIDEBAR SUB */
#sidebar-column {
  display: flex;
  /* justify-content: left; */
  flex-direction: column;
}


a:link {
  text-decoration: none;
  font-size: 16px;
  font: weight 200px;
  text-align: center;
  position: relative;
  height: 40px;
  /* line-height:40px; */
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  margin-left: 5%;
  cursor: pointer;
}

a {
  color: white;
}

.lists ul li{
  font-size: 15px;
  list-style: none;
  display: inline;
  padding-right: 1rem;
}

.title-container{
  display: flex;
  margin-top: 60px;
  width: 800px;
  /* justify-content: space-around ; */
}

.title{
  display: flex;
  flex-direction:row;
  align-items: baseline;
  gap: 0%;
  
}

.detail-container{
  width:50rem;
  height:40px;
  background-color: #282828;
  margin-top: 15px;
}
/* .detail-container ul li {
  display: flex;

} */

.poster-description{
  border: 1px solid gray;
  margin: 1rem;
  padding: 3rem 3rem;
  text-align: center;
}

.poster-container{
  background-color: #282828;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  display:flex;
  margin-right: 1rem; 
  margin-top: 10px;
  width:200px;
  height: 450px;
  text-align: center;
}
 
/* .description{
  background-color: #282828;
  margin-left: -100px;
  margin-top: 10px; 
  width: 100px;
  height: 10px; 
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  
} */

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  background-color: #282828;
  margin-top: 10px;
  height: 400px;
  width: 300px;
  margin-bottom: 10px;
  
}  

.flex-child:first-child {
  margin-right: 20px;
  
} 

.wishlist-bottom {
  display: flexbox;
  align-items:flex-end;
  width: 20%;
 height: 85%;
 margin-left: 80%;
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 25px 40px #1687d933;
 margin-bottom: 10px;
}


.movie-image{
  margin-left: 45px;
}


/* CART */
.cart-container {
  margin: 10%;
  background-color: #022956;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #0c86dd33;
  flex-flow: column;
}
.header {
  width: 90%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}
.heading {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.action {
  font-size: 14px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
}
.cart-body {
  margin-left: 0px;
  padding: 5%;
  background: linear-gradient(to bottom right, #005ec9, #020b19);
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.cart-body * {
  color: #cff0f1;
  font-size: .8rem;
}
.cart-left-container{
  flex-flow: column;
  height: 60%;
  width: 40%;
}
.cart-left-container button {
  height: 25%;
  width: 60%;
}
.cart-right-container{
  flex-flow: column;
  height: 60%;
  width: 40%;
}
.cart-bottom-container{
  flex-flow: row;
  width: 90%;
  height: 30%;
}
.cart-bottom-container button {
  height: 50%;
  width: 30%;
}