.foot-inner {
    align-items: center;
    flex-flow: column;
    justify-content: center;
    margin: 0 0 0 16%; 
}
.footer-columns {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    margin: .3% 0 .2% 0;
  }

  .footer-columns ul {
    text-decoration: none;
    flex-flow: column nowrap;
  }
  
  .footer-heads {
    margin-bottom: 1rem;
    font-size: 10px;
  }
  hr {
    border: 0;
    align-self: center;
    height: 1px;
    padding: .02rem;
    max-width: 75%;
    background: #484848;
  }
  .footer-row {
    align-items: center;
    justify-content: center;
    margin: .5% 0 .3% 0;
    font-size: 8px;
  }
