/* import fonts here */
/* @import url('https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css'); */
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./App.css";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #141414;
  color: #fff;
}
