.form-outline-container{
background-color: rgb(11, 58, 98);
margin-right: px;
width: 600px;
height: 40px;
}

.sign-container{
  flex-direction:column;
  align-self: flex-end;

}

.block-sign{
  width: 100%;
  height: auto; 
}


